{% extends 'layouts/layout.html.twig' %}

{% block content %}
    
    <div class="main-content" >
        <a href="{{ path('create-TechMap') }}">Создать тест модель</a>
        
        {{ form(form) }}
    </div>

{%  endblock %}


